<div class="container">
    <form autocomplete="off">

        <div class="p-grid">
            <div class="p-col-12">
                <h1>Tinnova Veiculo</h1>
            </div>

            <div class="p-col-12 p-md-3 p-fluid">
                <label>Id</label>
                <input pInputText type="text" [(ngModel)]="vehicle.id" name="id" disabled>
            </div>

            <div class="p-col-12 p-md-3 p-fluid">
                <label>Marca</label>
                <p-dropdown [options]="brands" optionLabel="name" optionValue="code" [(ngModel)]="vehicle.brand"
                    name="brand"></p-dropdown>
            </div>

            <div class="p-col-12 p-md-3 p-fluid">
                <label>Ano</label>
                <p-inputMask [(ngModel)]="vehicle.yearManufacture" mask="9999" name="year"></p-inputMask>
            </div>

            <div class="p-col-12 p-md-3 p-fluid">
                <label>Vendido</label>
                <p-dropdown [options]="isSold" optionLabel="name" optionValue="code" [(ngModel)]="vehicle.sold"
                    name="sold">
                </p-dropdown>
            </div>

            <div class="p-col-12 p-md-12 p-fluid">
                <label>Descrição</label>
                <input pInputText type="text" [(ngModel)]="vehicle.description" name="description" maxlength="256">
            </div>

            <div class="p-col-1">
                <button pButton label="Salvar" (click)="save()"></button>
            </div>

            <div class="p-col-11">
                <button pButton label="Novo" class="p-button-info" (click)="clearRegister()"></button>
            </div>
        </div>

    </form>

    <div class="p-grid">

        <div class="p-col-12">
            <h1>Lista de veiculos cadastrados</h1>
        </div>

        <div class="p-col-12 p-md-2 p-fluid">
            <label>Vendido</label>
            <p-dropdown [options]="isSoldSearch" optionLabel="name" optionValue="code"
                [(ngModel)]="vehicleFilterDto.sold" name="soldSearch"></p-dropdown>
        </div>

        <div class="p-col-12 p-md-2 p-fluid">
            <label>Decada</label>
            <p-inputMask [(ngModel)]="vehicleFilterDto.decade" mask="99" name="decada"></p-inputMask>
        </div>

        <div class="p-col-12 p-md-2 p-fluid">
            <label>Marca</label>
            <p-dropdown [options]="brands" optionLabel="name" optionValue="code" [(ngModel)]="vehicleFilterDto.brand"
                name="brandSearch"></p-dropdown>
        </div>

        <div class="p-col-12 p-md-2 p-fluid">
            <label>Registrado última semana</label>
            <p-dropdown [options]="isRegisteredLasWeek" optionLabel="name" optionValue="code"
                [(ngModel)]="vehicleFilterDto.registeredLasWeek" name="registeredRecently">
            </p-dropdown>
        </div>

        <div class="p-col-1">
            <button pButton label="Buscar" class="p-button-info" (click)="findByFilter()"
                style="margin-top: 17px;"></button>
        </div>

        <div class="p-col-2">
            <button pButton label="Limpar Filtro" class="p-button-info" (click)="clearFilter()"
                style="margin-top: 17px;"></button>
        </div>

        <div class="p-col-12">
            <p-table #paginator [value]="vehicles" [paginator]="true" [rows]="2">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Veiculo</th>
                        <th>Marca</th>
                        <th>Ano</th>
                        <th>Vendido</th>
                        <th>Descrição</th>
                        <th>Data criação</th>
                        <th>Data modificação</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-vehicle>
                    <tr>
                        <td>
                            <span class="p-column-title">Veiculo</span> {{ vehicle.id }}
                        </td>
                        <td>
                            <span class="p-column-title">Marca</span> {{ vehicle.brand }}
                        </td>
                        <td class="col-data">
                            <span class="p-column-title">Ano</span> {{ vehicle.yearManufacture }}
                        </td>
                        <td class="col-data">
                            <span class="p-column-title">Vendido</span> {{ vehicle.sold ? "Sim" : "Não"}}
                        </td>
                        <td class="col-data">
                            <span class="p-column-title">Descrição</span> {{ vehicle.description }}
                        </td>
                        <td class="col-data">
                            <span class="p-column-title">Data criação</span> {{ vehicle.creationDate }}
                        </td>
                        <td class="col-data">
                            <span class="p-column-title">Data modificação</span> {{ vehicle.modificationDate }}
                        </td>
                        <td class="col-acoes">
                            <span class="p-column-title"></span>
                            <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                                (click)="selectVehicle(vehicle)"></a>
                            <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                                (click)="deleteVehicle(vehicle.id)" style="margin-left: 5px;"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="p-col-6">
            <p-table #paginator [value]="quantityPerBrandsDtos" [paginator]="true" [rows]="2">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Marca</th>
                        <th>Quantidade</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-quantityPerBrandsDto>
                    <tr>
                        <td>
                            <span class="p-column-title">Marca</span> {{ quantityPerBrandsDto.brand }}
                        </td>
                        <td>
                            <span class="p-column-title">Quantidade</span> {{ quantityPerBrandsDto.quantity }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="p-col-6">
            <p-table #paginator [value]="vehiclesPerDecadeDtos" [paginator]="true" [rows]="2">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Decada</th>
                        <th>Quantidade</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-vehiclesPerDecadeDto>
                    <tr>
                        <td>
                            <span class="p-column-title">Decada</span> {{ vehiclesPerDecadeDto.decade }}
                        </td>
                        <td>
                            <span class="p-column-title">Quantidade</span> {{ vehiclesPerDecadeDto.quantity }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

    <p-toast position="top-left"></p-toast>